.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.image-container {
  width: 20%;
  text-align: center;
  margin: 20px;
  @media screen and (max-width: 720px){
    width: 40%;
  }
  @media screen and (max-width: 540px){
    width: 90%;
  }
}

.image-container_border {
  outline: 3px solid blue;
}

.pagin-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.mybtn {
  height: 25px;
}

.page-number {
  font-size: 20px;
  margin: 10px;
}